*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a{
  color: #333;
  text-decoration: none;
} 
h1,h2,h3{
  padding-bottom: 20px;
}

p{
  margin: 10px 0;
}

.container{
  margin:auto;
  max-width:1100px;
  overflow: auto;
  padding: 0 20px;
}
/* .menucontainer{
  margin: 0px auto;
  overflow: auto;
  height: 200px;
} */


#imagebox{
  background-image: url('../img/biriyani-chicken-cooked-1624487.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px auto;
  overflow: auto;
  height: 302px;

}
.menu-items{
  margin-top:20px;
}
.menusection{
  margin: auto auto;
  padding:20px;
  max-width:1100px;
  font-family: 'Abel', sans-serif;
}
.menu-section-header h2{
text-align: center;
padding: 10px;
font-size:25px;
}
.menu-item{
  width:50%;
  float:left;
  padding-left:20px;
}
.menu-item-title{
  font-size: 20px;
}
.menu-item-description{
  margin-right:40px;
}
.menu-item .select{
  margin-bottom:50px;
}
.registercontainer{
  max-width:1100px;
  margin:30px auto;
  overflow:auto;
  padding:20px;
  border: 2px solid #333;
  border-radius:5px;
}

.box{
padding: 20px;
}
.form-group label {
  color:#666;
  display:block;
}
 .form-group input {
      
  width:80%;
  padding: 10px;
  border:#ddd 1px solid;
  border-radius: 5px
}
.form-group a{
  display: block;
}
#box-1{
  float:left;
  width:50%;
}
#box-2{
  float: right;
  width:50%;
}
button {
       
  display:block;
  padding:10px;
  margin-top:20px;
  background: #f7c08a;

  cursor:pointer;
}
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
  position:fixed;
  width:100%;
}

#navbar a {
color: #fff;
}

#navbar h1{
  float: left;
  padding-top: 20px;
}
#navbar ul{
  list-style: none;
  float: right;
}
#navbar ul li{
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px; 
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current{
  background: #444;
  color: #f7c08a;
}